<!DOCTYPE html>

<html>

	<head>
		<title>Leah's Art History Portfolio</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<h1>art history portfolio<br>by Leah Stern</h1>

		<!-- about box -->
		<div class="about">
			<p>
			Welcome! This is a website for me to display my art historical knowledge and for you to learn about awesome works of art!
			</p>
		</div>
	</head>

	<body>
		<div class="flex_container">
			<div class="flex_item">
				<img id="img1" src="static/magritte.jpg" style="height:60%"/>

				<div class="overlay">
					<p1 class="title">René Magritte</p1>
					<p class="title">Time Transfixed</p>
					<div id="button1" class="button"><a href="#">LEARN MORE</a></div>
				</div>

				<div id="modal_img1" class="modal">
					<div class="modal_title">
						René Magritte<br>
						La Durée poignardée (Time Transfixed)<br>
						oil on canvas<br>
						1938
					</div>
					<div class="info_button" style="right:55%; top:25%"><a href="#"></a>
						<span class="info" style="right:110%">
						Magritte's surrealism brings the bizarre to a visually convincing world. Note the rationality of the reflections in the mirror, the consistent light source, and the receding lines creating a realistic space.
						</span>
					</div>
					<div class="info_button" style="right:45%; top:45%"><a href="#"></a>
						<span class="info" style="left:110%">
						Like most of Magritte's work, this piece traffics in the idea of resemblance, in which two images are condensed as one. Here, the fireplace image and the train image are unified in a double substitution. While the fireplace replaces the train's tunnel, the billowing smoke from the train replaces the smoke from the fireplace.
						</span>
					</div>
					<img class="modal_content" id="big_img1">
					<span id="close1" class="close">x</span>
				</div>
			</div>

			<div class="flex_item">
				<img id ="img2" src="static/kahlo.jpg" style="height:60%"/>

				<div class="overlay">
					<p1 class="title">Frida Kahlo</p1>
					<p class="title">The Love Embrace</p>
					<div id="button2" class="button"><a href="#">LEARN MORE</a></div>
				</div>

				<div id="modal_img2" class="modal">
					<div class="modal_title" style="right: 10%; top: 65%;">
						Frida Kahlo<br>
						The Love Embrace of the Universe, <br>the Earth (Mexico), Myself, Diego, <br>and Señor Xolotl<br>
						oil on canvas<br>
						1949
					</div>
					<div class="info_button" style="right:35%; top:15%"><a href="#"></a>
						<span class="info" style="left:110%">
						Above all else, this piece is about duality. Kahlo's cosmic skies immediately bring to mind the image of yin and yang, defined by the balance of opposing forces. Within the darkness there is light, and within the light there is darkness.
						</span>
					</div>
					<div class="info_button" style="right:45%; top:30%"><a href="#"></a>
						<span class="info" style="left:110%">
						Kahlo's personfication of the Earth takes the form of a woman, from whose breast drips milk in reference to her life-giving abiliites. While her fertility brings life, the crack in her chest reminds us of the cyclic nature of life and death. Kahlo's self-portrait in this piece mirrors that same crack, showing a consciousness that she, too, continues this cycle.
						</span>
					</div>
					<div class="info_button" style="right:55%; top:70%"><a href="#"></a>
						<span class="info" style="left:110%">
						The Xolotl dog, or Mexican hairless dog, is a breed that has accompanied people in the region of Mexico since the pre-Columbian era. In Aztec mythology, Xolotl is the god of the underworld and brings humans into the afterlife. The Xolotl's presence in this work is certainly a reminder of the motif of cyclic life and death.
						</span>
					</div>
					<div class="info_button" style="right:50%; top:50%"><a href="#"></a>
						<span class="info" style="left:110%">
						Working within the work's motif of duality, Kahlo's representation of her husband Diego Rivera shows her dissatisfaction with the gender binary enforced by a patriarchal society. Kahlo sheds a tear and bleeds over an infantile Rivera, who sits contently in her lap, unaware of the oppressive nature of this binary. Nevertheless, Kahlo still adorns Rivera with an all-knowing third eye, reinforcing the idea of duality in the context of her feelings toward Rivera.
						</span>
					</div>
					<div class="info_button" style="right:65%; top:40%"><a href="#"></a>
						<span class="info" style="right:110%">
						The plants flanking each side of this hierarchical portrait recall the duality of life and death. Just as the Earth mother must succumb to this cycle, so must the natural world. The left half of the painting is much darker, and the plants here are far less lively and colorful than those on the right.
						</span>
					</div>
					<img class="modal_content" id="big_img2">
					<span id="close2" class="close">x</span>
				</div>
			</div>
		</div>

		<script>
			// Image 1
			var modal1 = document.getElementById('modal_img1')
			var button1 = document.getElementById('button1')
			var img1 = document.getElementById('img1')
			var modal_img1 = document.getElementById('big_img1')

			// Image 2
			var modal2 = document.getElementById('modal_img2')
			var button2 = document.getElementById('button2')
			var img2 = document.getElementById('img2')
			var modal_img2 = document.getElementById('big_img2')

			// Open modal image on button click
			button1.onclick = function() {
				modal1.style.display = "block";
				modal_img1.src = img1.src;
			}

			// Open modal image on button click
			button2.onclick = function() {
				modal2.style.display = "block";
				modal_img2.src = img2.src;
			}

			// Close button for modal image
			var span = document.getElementById("close1")
			span.onclick = function() {
				modal1.style.display = "none";
			}

			// Close button for modal image
			var span = document.getElementById("close2")
			span.onclick = function() {
				modal2.style.display = "none";
			}
		</script>

	</body>

</html>