<!DOCTYPE html>

<html>

	<head>
		<title>Leah's Art History Portfolio</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<h1>a title</h1>

		<!-- info box -->
		<div class="about">
			<p style="margin-right:10%;">Welcome! This is a website where I talk about art I've studied!</p>
		</div>
	</head>

	<body>
		<!-- put images in gallery -->
		<div class="flex-container">
			<div class="flex-item">
				<img id="img" src="static/magritte.jpg" style="height:60%"/>

				<div id="modal_img" class="modal">
					<span class="close"></span>
					<img class="modal-content" id="img1">
				</div>

				<div class="overlay">
					<p1 class="title">René Magritte</p1>
					<p class="title">Time Transfixed</p>
					<div id="butt" class="button"><a href="#">LEARN MORE</a></div>
				</div>
			</div>

			<div class="flex-item">
				<img id ="img" src="static/kahlo.jpg" style="height:60%"/>

				<div id="modal_img" class="modal">
					<span class="close"></span>
					<img class="modal-content" id="img1">
				</div>

				<div class="overlay">
					<p1 class="title">Frida Kahlo</p1>
					<p class="title">The Love Embrace</p>
					<div id="butt" class="button"><a href="#">LEARN MORE</a></div>
				</div>
			</div>
		</div>

		<script>
			var modal = document.getElementById('modal_img')
			var button = document.getElementById('butt')
			var img = document.getElementById('img')
			var modalImg = document.getElementById('img1')

			button.onclick = function() {
				modal.style.display = "block";
				modalImg.src = img.src;
			}

			var span = document.getElementByClassName("close")[0];

			span.onclick = function() {
				modal.style.display = "none";
			}
		</script>

	</body>

</html>